@model MovieViewModel

@{
    ViewData["Title"] = "Movie Form";
}


<h2>@(Model.Id>0 ? "Edit" : "Create") Movie</h2>


<section class="row justfy-content-between"> 
    <div class="col-md-4">
        <form method="POST" asp-action=@(Model.Id > 0 ? "Edit" : "Create") enctype="multipart/form-data">

            <div class="form-group">
                <label class="text-muted" asp-for="Title"></label>
                <input type="text" class="form-control"asp-for="Title" maxlength="250"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="text-muted" asp-for="GenreId"></label>
                <select class="form-control form-select" asp-for="GenreId" asp-items="@(new SelectList(Model.Genres,"Id","Name"))">
                     <option></option>
                 </select>

                <span asp-validation-for="GenreId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="text-muted" asp-for="Year"></label>
                <input type="text" class="form-control" asp-for="Year" maxlength="250" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label class="text-muted" asp-for="Rate"></label>
                <input type="text" class="form-control" asp-for="Rate" maxlength="250" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label class="text-muted" asp-for="Storeline"></label>
                <textarea  class="form-control" asp-for="Storeline" maxlength="2500" rows="4"></textarea>
                <span asp-validation-for="Storeline" class="text-danger"></span>
            </div>


            <div>
                <input type="file" asp-for="Poster" value="@(Model.Id >0 ? $"data:image/*;base64,{Convert.ToBase64String(Model.Poster)}":"")" accept=".jpg ,.png" />
                <span asp-validation-for="Poster" class="text-danger"></span>
            </div>


            <button type="submit" class="btn btn-primary mt-4">Save</button>
            <a asp-action="Index" class="btn btn-outline-secondary mt-4">Cancel</a>
        </form>


 </div>
<div class="col-md-4 @(Model.Id > 0 ? string.Empty : "d-none")">
    <div id="poster-container">
        <img src="@(Model.Id > 0 ? $"data:image/*;base64,{Convert.ToBase64String(Model.Poster)}" : "" )" alt="Poster" class="img-thumbnail"/>
    </div>
</div>


</section>

 @section Scripts {
    <partial name="_ValidationScriptsPartial">


    <script>

        $(document).ready(function (){
            $('#Poster').change(function(){
               var selectedFile = $(this).val().split('\\').pop();
                    var posterContainer = $('#poster-container');
                    var image = URL.createObjectURL(this.files[0]);

                    posterContainer.removeClass('d-none');
                    posterContainer.find('img').attr('src',image)
            });


            $('#Year').datepicker({
                format: 'yyyy',
                viewMode:'years',
                 minViewMode :'years',
                 autoclose: true,
                 startDate: new Date('1950-01-01'),
                 endDate: new Date()
            });



        });





    </script>

}

